<!DOCTYPE HTML>
<head>
    <vc:aiur-header></vc:aiur-header>
    <title>Tracer - Aiursoft</title>
    <link rel="stylesheet" href="https://ui.aiursoft.cn/dist/AiurMarket.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="https://www.aiursoft.cn">
                Aiursoft
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Connection Speed Test</a>
                    </li>
                </ul>
                <div class="form-inline">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="https://gitlab.aiursoft.cn/aiursoft/tracer">
                                <i class="fab fa-gitlab"></i>
                                View on GitLab
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    @RenderBody()
    <footer class="navbar-expand-md navbar-dark bg-dark pt-2 pb-2">
        <div class="container">
        </div>
    </footer>
    <script src="https://ui.aiursoft.cn/dist/AiurMarket.min.js"></script>
    <script src="https://ui.aiursoft.cn/node_modules/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="~/js/ws.js" asp-append-version="true"></script>
    <script src="~/js/http.js" asp-append-version="true"></script>
    <script src="~/js/down.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @(await RenderSectionAsync("scripts", false))
</body>