<!DOCTYPE HTML>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <title>Tracer - Aiursoft</title>
    <link rel="stylesheet" href="~/node_modules/@@aiursoft/autodark.js/dist/css/autodark.min.css" />
    <link rel="stylesheet" href="~/node_modules/@@fortawesome/fontawesome-free/css/all.min.css" />
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="https://www.aiursoft.cn">
                Aiursoft
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Connection Speed Test</a>
                    </li>
                </ul>
                <div class="form-inline">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="https://gitlab.aiursoft.cn/aiursoft/tracer">
                                <i class="fab fa-gitlab"></i>
                                View on GitLab
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    @RenderBody()

    <footer class="footer mt-auto py-3">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - Aiursoft.Tracer - <a href="https://gitlab.aiursoft.cn/aiursoft/tracer">GitLab</a>
        </div>
    </footer>

    <script type="module" src="~/node_modules/jquery/dist/jquery.min.js" defer></script>
    <script type="module" src="~/node_modules/jquery-validation/dist/jquery.validate.min.js" defer></script>
    <script type="module" src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" defer></script>
    <script type="module" src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
    <script type="module">
        import { autoTheme } from '/node_modules/@@aiursoft/autodark.js/dist/esm/autodark.js';
        autoTheme();
    </script>
    <script src="~/node_modules/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="~/js/ws.js" asp-append-version="true"></script>
    <script src="~/js/http.js" asp-append-version="true"></script>
    <script src="~/js/down.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @(await RenderSectionAsync("scripts", false))
</body>