.dropify-wrapper .dropify-message p {
    font-size: 20px !important;
}

html[data-bs-theme="dark"] .dropify-preview {
    background-color: rgb(42, 43, 45) !important;
}

html[data-bs-theme="dark"] .dropify-wrapper {
    background-color: rgb(32, 33, 35) !important;
    border: 2px solid #666 !important;
}

html[data-bs-theme="dark"] .dropify-wrapper:hover {
    background-image: linear-gradient(-45deg, #161616 25%, transparent 25%, transparent 50%, #161616 50%, #161616 75%, transparent 75%, transparent) !important;
}
