<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="card">
            <div class="card-body text-center p-4">

                <div class="mb-3">
                    <i class="align-middle text-danger" data-lucide="alert-octagon" style="width: 48px; height: 48px;"></i>
                </div>

                <h1 class="h3 card-title text-danger">
                    @Localizer["Locked out."]
                </h1>

                <p class="lead">
                    @Localizer["This account has been locked out, please try again later."]
                </p>

            </div>
        </div>
    </div>
</div>
