<!DOCTYPE HTML>
<head>
    <meta charset="utf-8" />
    <title>Genji - A simple network speed test app</title>
</head>
<body>
    <h1>Genji - A simple network speed test app</h1>
    <hr />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/ws.js"></script>
    <script src="~/js/http.js"></script>
    <script src="~/js/down.js"></script>
    <h2>Server Time:</h2>
    <div id="spanStatus"></div>

    <h2>WebSocket Lag:</h2>
    <div id="wsStatus"></div>

    <h2>HTTP lag:</h2>
    <div id="httpStatus"></div>

    <h2>Download Speed</h2>
    <div id="downStatus"></div>
</body>