<!DOCTYPE HTML>
<head>
    <meta charset="utf-8" />
    <title>Genji - A simple network speed test app</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand hidden-md hidden-sm">Genji</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Histroy Tests</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Records</a></li>
                </ul>
            </div>
        </div>

        <div class="jumbotron">
            <h1>Genji</h1>
            <p>Genji is a simple network quality testing app.</p>
            <kbd id="spanStatus"></kbd>
            <p><button class="btn btn-success btn-lg margin20" id="startAllButton" onclick="startAll()" role="button">Start All Tests</button></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h3>HTTP lag</h3>
                <p>Your browser will send server a simple message and get a simple response. This number means the time it costs from request to response. The smaller the number, the better your network is.</p>
                <pre id="httpStatus"></pre>
                <code id="httpMax"></code>
            </div>
            <div class="col-md-4">
                <h3>Download Speed</h3>
                <p>Your browser will download a 3MB file from our server. From the time it starts and it gets the file, we will help you calculate your network downloading speed. The larger the number, the better your network is.</p>
                <pre id="downStatus"></pre>
                <code id="downMax"></code>
            </div>
            <div class="col-md-4">
                <h3>WebSocket Lag</h3>
                <p>This number means how much gap time between current server event and last server event. The number should be close to 10ms. More than 20ms or less than 9ms is not proper.</p>
                <pre id="wsStatus"></pre>
                <code id="wsmax"></code>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group margin20">
                    <label for="exampleInputEmail1">Log filter(ms)</label>
                    <input type="number" class="form-control" id="pinglagfilter" value="200">
                    <button class="btn btn-primary margin20" id="pingbutton" onclick="ping()">Start Test</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group margin20">
                    <label for="exampleInputEmail1">Log filter(MB/s)</label>
                    <input type="number" class="form-control" id="speedlagfilter" value="0.7">
                    <button class="btn btn-primary margin20" id="downloadbutton" onclick="download()">Start Test</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group margin20">
                    <label for="exampleInputEmail1">Log filter(ms)</label>
                    <input type="number" class="form-control" id="wslagfilter" value="300">
                    <button class="btn btn-primary margin20" id="wsbutton" onclick="WsTest()">Start Test</button>
                </div>
            </div>
        </div>

        <hr />
        <h2>Bad requests log</h2>

        <table class="table table-striped table-hover" id="logTable">
            <tr>
                <th>Time</th>
                <th>Trigger</th>
                <th>Value</th>
            </tr>
        </table>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; @DateTime.Now.Year - <a href="https://www.aiursoft.com">Aiursoft</a></p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>

    <script src="~/js/ws.js"></script>
    <script src="~/js/http.js"></script>
    <script src="~/js/down.js"></script>
    <script src="~/js/site.js"></script>
</body>